.boxorder {
    display: flex;
    white-space: nowrap;
    overflow-y: hidden;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
}
.boxorder::-webkit-scrollbar {
    height: 5px;
}
.boxorder::-webkit-scrollbar-thumb {
    background: #b7b7b7;
    border-radius: 10px;
}
.boxorder::-webkit-scrollbar-track { 
    background: #e0e0e0;
    border-radius: 10px;
}

.showorder {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    padding-top: 6em;
    padding-bottom: 6em;
}

.showorder .card-body {
    width: 415px;
    min-height: 232px;
    padding: 1em;
    background: #f9f9f9;
    border-radius: 8px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
}

.showorder .card-body:hover {
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}